@model Comment

<h2>Comment Details</h2>

<div>
    <h4>Коментар</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Текст
        </dt>
        <dd class="col-sm-10">
            @Model.Text
        </dd>
        <dt class="col-sm-2">
            Проект
        </dt>
        <dd class="col-sm-10">
            @Model.Project.Title
        </dd>
        <dt class="col-sm-2">
            Потребтел
        </dt>
        <dd class="col-sm-10">
            @Model.User.UserName
        </dd>
        <dt class="col-sm-2">
            Добавен на: 
        </dt>
        <dd class="col-sm-10">
            @Model.DateAdded
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Промени коментара</a>
    <a asp-action="Index" class="btn btn-secondary">Назад към списъка</a>
</div>
