@model Comment

<h2>Comment Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Text
        </dt>
        <dd class="col-sm-10">
            @Model.Text
        </dd>
        <dt class="col-sm-2">
            Project
        </dt>
        <dd class="col-sm-10">
            @Model.Project.Title
        </dd>
        <dt class="col-sm-2">
            User
        </dt>
        <dd class="col-sm-10">
            @Model.User.UserName
        </dd>
        <dt class="col-sm-2">
            Date Added
        </dt>
        <dd class="col-sm-10">
            @Model.DateAdded
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
