@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Image
<head>
    <meta charset="utf-8" />
    <title>Изтрий Снимка</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<div class="container">
    <h1>Изтрий Снимка</h1>
    <div class="alert alert-warning" role="alert">
        Сигурен ли си, че искаш да изтриеш снимката?
    </div>
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.Path" alt="@Model.Path">
        <div class="card-body">
            <p class="card-text">ИД на снимката: @Model.Id</p>
            <p class="card-text">пътека към снимката: @Model.Path</p>
        </div>
    </div>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <button type="submit" class="btn btn-danger">Изтрий</button>
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
