@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @model IEnumerable<Project> *@
@model ProjectIndexFilterModelView
products
<br />
<h2>Filtering</h2>

<form method="post">
	<label for="Categoty">Категория</label><br />
	<select id="Categoty" asp-for="CategoryId" asp-items="Model.Categories">
		<option value="">Изберете категория</option>
	</select><br />
	<label for="Title">Заглавие на прект</label><br />
	<input id="Title" asp-for="Title" /><br />
	<label for="ShortDescription">Кратко описание</label><br />
	<input id="ShortDescription" asp-for="ShortDescription" /><br />
	<button type="submit">Запази</button>
</form>


<br />

<a asp-action="Create" class="btn btn-primary">Създайте нов проект</a>
<table class="table">
	<tr>
		<th>
			Заглавие
		</th>
		<th>
			Кратко описание
		</th>
		<th>
			Снимка на проекта
		</th>
		<th>
			Категория
		</th>
	</tr>

	@foreach (var item in Model.Projects)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ShortDescription)
			</td>
			<td>
				@* @Html.DisplayFor(modelItem => item.Image.Path) *@
				<img width=300px class="" src="@item.Image.Path" alt="@item.Image.Path">
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Category.Name)
			</td>
			<td>
				<a asp-action="Project1" asp-route-id="@item.Id">Детайли за проекта</a> |
				<a asp-action="Edit" asp-route-id="@item.Id">Промяна на проекта</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Изтрий проекта</a>
				
			</td>
		</tr>
	}
	</table>
	@* @ViewData["message from controller"] *@
