@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Project>
products
<br />

<a asp-action="Create" class="btn btn-primary">Create new Project</a>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ShortDescription)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Image.Path)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Category)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ShortDescription)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Image.Path)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Category.Name)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
	}
